body {
    background: #D2EDDB;
    color: #81A988;
}
.navbar {
    background: #c6ecd1;
    padding: 0.1px 5px !important;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.navbar ul li a {
    color: #81A988;
    text-decoration: none;
}
.navbar ul li a:hover {
    color: aliceblue;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
}
.card {
    background: #96cfbe;
    padding: 2px;
    margin-bottom: 3px;
}
.card a {
    text-decoration: none;
    color: #D2EDDB;
}
.input {
    background: wheat;
    padding: 10px;
    text-align: center;
    display: block;
}